body{
    background-color: yellow;
    font-weight: bold;
}
div{
    border: 10px solid black;
    border-style:inset;
    background-image:linear-gradient(to bottom left, red, yellow);
   
}
header{
    font-size:60px;
    margin-left:45%;
    animation: headerColorChange 5s;
    animation-iteration-count: infinite;
    
}
table, tr, th, td{
    border-spacing: 20px;
    border-collapse: collapse;
    border: 5px solid black;
    font-size:30px;
    font-style:oblique;
}
.time{
    color:blue;
    border: 2px solid green;
}
table{
    margin-top:10%;
}
.empty{
    color:red;
    text-align: center;
    font-size:50px;
}
@keyframes headerColorChange{
          0% {color: blue};
          10% {color: red};
          40% {color: yellow};
          70% {color: purple};
          100% {color: blue};
}

.navigationth{
    border-spacing:60px;
    font-size:30px;
    margin:auto;
   
    
}
#navigation{
    border: 6px solid red;
    border-spacing:60px;
    font-size:30px;
    margin:auto;
    
}

a{
    text-decoration: none;
    
}
a:visited{
    color:blue;
}
a:hover{
    color:red;
}
